<div class="container">
  <section class="StylesMenuSection">
    <h3 class="StylesMenuSection_title">
      ヘアスタイルのメニューさん
    </h3>

    <div class="StylesMenuAreas">
      <%= link_to "髪染めますのん", styles_path %>
    </div>
  </section>
</div>
